p, h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;   
}

/*slideshow */
.mySlides {display:none}

/* full-screen images */

body, html {
  height: 100%;
}

.fs {

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1 {
/* The image used */
  background-image: url("../img/rsz_img_6903.jpg");
}

.img-2 {
  /* The image used */
  background-image: url("../img/an-empty-court.jpg");
}